@import "rsuite/dist/rsuite.css";

.cardContent {
    padding-left: 50px;
}

.cardContent .addButton {
    margin-bottom: 10px;
}

.cardIMG {
    padding: 10px;
}

.cardDropdown {
    margin-left: 150px;
}

.addButton {
    padding-left: 2rem;
    margin: 2rem;
}

.AvatarImg {
    padding-top: 20px;
    /* padding-left: 30px; */
}

.detailEducation {
    width: 700px;
    height: 300px;
}

.eduGrid1 {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.eduGrid2 {
    padding: 20px;
    /* background-color: #7494d0; */
    /* height: 400px; */
}

.rs-table-cell-header .rs-table-cell-content {
    background-color: #462964;
    color: #fff;
}

.css-1633um2-MuiPaper-root {
    box-shadow: none;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(238, 238, 238);
}

.boxContent {
    background-color: rgb(255, 255, 255);
    color: rgb(54, 65, 82);
    box-shadow: none;
    background-image: none;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgb(238, 238, 238);
}

.label-subtitle2 {
    color: black;
    font-weight: 500;
}

.ButtonAdd{
    margin: 20px 20px 20px 0px;
}
