
@media only screen and (min-width: 480px) {
  /* styles for devices with a minimum screen width of 480px */
  }
  
  @media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  }
  
  *{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
  }
  
  /* css body src/pages */
  body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }